nav{
    background-color: aqua;
    text-align: right;
    font-size: larger;
}

nav> ul> li{
    display: inline;
    margin-right: 20px;
}

nav li> a{
    text-decoration: none;
}

label{
    display: block;
    margin: 20px;
}

table{
    border-collapse: collapse;
}
th,td{
    border: 2px solid red;
    padding: 5px 10px;
}